<footer class="footer">
  <section class="contact py-4 mb-3">
    <header class="contact-title mb-4">CONTACT</header>
    <ng-container *ngFor="let contact of contactValues">
      <address class="d-flex mb-1 contact-details">
        <span class="pr-1">{{ contact.type }}:</span>
        <span>{{ contact.contact }}</span>
      </address>
    </ng-container>
  </section>

  <section class="links p-4 mt-2 d-flex justify-content-sm-center align-items-center flex-column flex-sm-row">
    <ng-container *ngFor="let link of linkValues">
      <span class="hover-animation mx-sm-4 my-3 my-sm-0 clickable" [routerLink]="link.ref"> {{ link.name | uppercase }} </span>
    </ng-container>
  </section>
</footer>
