<!--suppress RequiredAttributes -->
<app-nav lighten="true" class="absolute"></app-nav>

<div class="product-container d-flex justify-content-center align-items-center">
  <ngb-carousel #carousel class="w-100 product-carousel"
                *ngIf="product.type === 'image' || parent === 'shop'; else videoView">
    <ng-container *ngFor="let image of product.content">
      <ng-template ngbSlide>
        <div class="carousel-caption">
          <p class="product-scroll">Scroll down</p>
        </div>
        <div class="picsum-img-wrapper">
          <img class="product-content" [appImg]="image.uri" [alt]="image.alt">
        </div>
      </ng-template>
    </ng-container>
  </ngb-carousel>
</div>

<article class="my-5 py-3">
  <section class="d-flex justify-content-around mb-5" *ngIf="parent === 'portfolio'">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <span class="pb-2 product-details">JAHR</span>
      <strong class="product-details">{{ product.year }}</strong>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <span class="pb-2 product-details">KLIENT</span>
      <strong class="product-details">{{ product.client | uppercase }}</strong>
    </div>
  </section>

  <header class="d-flex justify-content-center align-items-center" *ngIf="parent === 'shop'">
    <strong class="product-details big">{{ product.title | uppercase }}</strong>
  </header>

  <section class="w-75 m-auto d-flex justify-content-center align-items-center px-5 pt-5">
    <p class="product-description">{{ product.description }}</p>
  </section>

  <section class="mt-5" *ngIf="parent === 'shop'">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <span *ngIf="product.sale" class="sale-price">{{ product.base_price }}€</span>
      <strong class="product-details big mt-2">{{ product.current_price }}€</strong>
    </div>
  </section>

  <section *ngIf="parent === 'shop'" class="d-flex justify-content-center align-items-center mt-5 mb-n3">
    <ngx-paypal [config]="paypalConfig"></ngx-paypal>
  </section>
</article>

<ng-template #videoView>
  <!--  <youtube-player height="100%" width="100%" [videoId]="product.content"></youtube-player>-->
  <iframe width="100%" height="100%" [src]="createUrl(product.content)"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>
