<!--suppress RequiredAttributes -->
<app-nav lighten="true" class="absolute"></app-nav>

<div class="product-container d-flex justify-content-center align-items-center">
  <ngb-carousel #carousel class="w-100 product-carousel" *ngIf="product.type === 'image'; else videoView">
    <ng-container *ngFor="let image of product.content">
      <ng-template ngbSlide>
        <div class="carousel-caption">
          <p class="product-scroll">Scroll down</p>
        </div>
        <div class="picsum-img-wrapper">
          <img class="product-content" [appImg]="image.uri" [alt]="image.alt">
        </div>
      </ng-template>
    </ng-container>
  </ngb-carousel>
</div>

<article class="my-5 py-3">
  <section class="d-flex justify-content-around">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <span class="pb-2 product-details">JAHR</span>
      <strong class="product-details">{{ product.year }}</strong>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <span class="pb-2 product-details">KLIENT</span>
      <strong class="product-details">{{ product.client | uppercase }}</strong>
    </div>
  </section>
  <section class="d-flex justify-content-center align-items-center mt-5">
    <p>{{ product.description }}</p>
  </section>
</article>

<ng-template #videoView></ng-template>
