.about {
  &-wrapper {
    padding: 5rem 0;
    @media only screen and (max-width: 991px) {
      flex-wrap: wrap;
      padding: 1rem 0 0;
    }
  }
  &-image {
    height: calc(100vh - 16.75rem);
    @media only screen and (max-width: 991px) {
      width: 100%;
      height: auto;
    }
  }
}

.center-text-md * {
  @media only screen and (max-width: 991px) {
    text-align: center;
    list-style: none;
  }
}

.bold-item {
  font-weight: var(--weight-bold);
}
