.about {
  &-wrapper {
    @media only screen and (max-width: 991px) {
      flex-wrap: wrap;
      padding-top: 1rem;
    }
  }
  &-image {
    height: calc(100vh - 12.75rem);
    @media only screen and (max-width: 991px) {
      width: 100%;
      height: auto;
    }
  }
}

.center-text-md * {
  @media only screen and (max-width: 991px) {
    text-align: center;
    list-style: none;
  }
}

.bold-item {
  font-weight: var(--weight-bold);
}
