<app-nav></app-nav>
<main class="d-flex about-wrapper p-lg-3 justify-content-center overflow-hidden">
  <img src="../../assets/images/about.jpg" alt="about" class="h-100 pr-5">
  <article class="center-text-md py-4 py-lg-0">
    <section class="pt-3">
      <h5 class="bold-item">ABOUT</h5>
      <br>
      <p class="d-flex flex-column">
        <span class="bold-item">Hauptberuf: </span>
        <span>Videoeditor/Fotograf</span>
      </p>
      <p class="d-flex flex-column">
        <span class="bold-item">Zahlreiche Erfahrungen als: </span>
        <span>Kameramann, Lichtassistent, Cutter</span>
      </p>
    </section>
    <br>
    <br>
    <section>
      <h5 class="bold-item">VITA</h5>
      <br>
      <ul class="pl-2">
        <li>2018: <span class="bold-item">Ausbildung als Mediengestalter Bild und Ton</span></li>
        <li>2018: <span class="bold-item">Studium Maschinenbau</span></li>
        <li>2017: <span class="bold-item">Abitur (Brandenburg)</span></li>
        <li>2014: <span class="bold-item">FSJ als Krankenpfleger</span></li>
      </ul>
    </section>
  </article>
</main>
