<app-nav [lighten]="true" [background]="true"></app-nav>
<main class="d-flex about-wrapper justify-content-center">
  <img *ngIf="srcImage; else imgPlaceholder" [src]="srcImage" alt="me" class="pr-lg-5 about-image">
  <article class="center-text-md py-4 py-lg-0">
    <section class="pt-5">
      <h4 class="bold-item">ABOUT</h4>
      <br>
      <ng-container *ngFor="let paragraph of about">
        <ng-container *ngTemplateOutlet="aboutT; context: {paragraph: paragraph}">
        </ng-container>
      </ng-container>
    </section>
    <section class="pt-5">
      <h4 class="bold-item">VITA</h4>
      <br>
      <ul class="pl-2">
        <ng-container *ngFor="let listItem of vita">
          <ng-container *ngTemplateOutlet="vitaT; context: {listItem: listItem}">
          </ng-container>
        </ng-container>
      </ul>
    </section>
  </article>
</main>

<ng-template #aboutT let-paragraph="paragraph">
  <p class="d-flex flex-column">
    <span class="bold-item">{{paragraph.title}}: </span>
    <span>{{paragraph.text}}</span>
  </p>
</ng-template>

<ng-template #vitaT let-listItem="listItem">
  <li>{{listItem.year}}: <span class="bold-item">{{listItem.text}}</span></li>
</ng-template>

<ng-template #imgPlaceholder>
  <div class="pr-lg-5 about-image"></div>
</ng-template>
