.auth {
  &-container {
    background-color: var(--color-background);
    padding: 0 20%;
    color: white;
  }
  &-form {
    width: 20rem;
  }
  &-head {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  &-success {
    color: green;
  }
  &-error {
    color: var(--color-danger);
  }
}
