<div style="background-color: black">
  <app-nav [lighten]="true"></app-nav>
</div>

<!--<div class="product-container d-flex justify-content-center align-items-center">-->
<!--  <ngb-carousel #carousel class="w-100 product-carousel">-->
<!--    <ng-container *ngFor="let imageUrl of product.images">-->
<!--      <ng-template ngbSlide>-->
<!--        <div class="carousel-caption">-->
<!--          <p class="product-scroll">Scroll down</p>-->
<!--        </div>-->
<!--        <div class="picsum-img-wrapper position-relative">-->
<!--          <div #beforeImg class="before-image-wrapper product-content">-->
<!--            <img [src]="imageUrl.image_before" class="before-image" [alt]="product.title + ' before'">-->
<!--          </div>-->
<!--          <div-->
<!--            class="before-image-drag"-->
<!--            (pointerdown)="onDragStart($event)"-->
<!--            (pointermove)="onDrag($event)"-->
<!--            (pointerup)="onDragEnd($event)">-->
<!--          </div>-->
<!--          <img class="product-content" [src]="imageUrl.image_after" [alt]="product.title + ' after'">-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </ng-container>-->
<!--  </ngb-carousel>-->
<!--</div>-->

<main class="shop-container d-flex flex-row">
  <article class="shop-image-wrapper w-50">
    <figure class="position-relative">
      <figure #beforeImg class="before-image-wrapper">
        <img draggable="false" [src]="activeImages.image_before"
             class="before-image" [alt]="product.title + ' before'">
      </figure>
      <div
        class="before-image-drag"
        (pointerdown)="onDragStart($event)"
        (pointermove)="onDrag($event)"
        (pointerup)="onDragEnd($event)">
      </div>
      <img draggable="false" class="w-100"
           [src]="activeImages.image_after"
           [alt]="product.title + ' after'">
    </figure>
    <section class="d-flex flex-row shop-image-list">
      <ng-container *ngFor="let imageSet of product.images">
        <figure class="shop-image-list-item position-relative" (click)="chooseImage(imageSet)">
          <figure class="w-50 h-100 position-absolute overflow-hidden">
            <img class="before-image" [src]="imageSet.image_before" alt="before preview">
          </figure>
          <img class="h-100" [src]="imageSet.image_after" alt="after preview">
        </figure>
      </ng-container>
    </section>
  </article>
  <article class="shop-details-wrapper mt-5">
    <h3>{{product.title | uppercase}}</h3>
    <section class="mt-3">
      <div class="d-flex flex-column">
        <span *ngIf="product.price.sale" class="sale-price">
          {{ product.price.base_price | currency: product.price.currency}}
        </span>
        <span class="product-details">
          {{ product.price.current_price | currency: product.price.currency}}
        </span>
      </div>
    </section>
    <section class="d-flex flex-column justify-content-center align-items-center mb-n3 payment-section">
      <ngx-paypal [config]="payPalConfig" class="w-100"></ngx-paypal>
      <strong *ngIf="validation.started || validation.finished"
              [ngClass]="{
                'transaction-waiting': validation.started,
                'transaction-success': validation.finished && validation.value,
                'transaction-error': validation.finished && !validation.value
                }"
              class="pt-2"> {{ validation.alert }} </strong>

      <button *ngIf="shopItem && shopItem.tries > 0" class="btn btn-success mt-3" (click)="downloadItem()">Download
      </button>
      <small *ngIf="shopItem && shopItem.tries > 0">The download link is valid 2 times and
        until {{ downloadExpiry | date: 'medium' }}</small>
    </section>
  </article>
</main>


<!--<header class="d-flex justify-content-center align-items-center">-->
<!--  <strong class="product-details big">{{ product.title | uppercase }}</strong>-->
<!--</header>-->

<!--<section class="mt-5">-->
<!--  <div class="d-flex flex-column justify-content-center align-items-center">-->
<!--    <span *ngIf="product.sale" class="sale-price">{{ product.base_price }}€</span>-->
<!--    <strong class="product-details big mt-2">{{ product.current_price }}€</strong>-->
<!--  </div>-->
<!--</section>-->

<!--<section *ngIf="parent === 'shop'" class="d-flex flex-column justify-content-center align-items-center mt-5 mb-n3">-->
<!--  <ngx-paypal [config]="payPalConfig"></ngx-paypal>-->
<!--  <strong *ngIf="validation.started || validation.finished"-->
<!--          [ngClass]="{-->
<!--            'transaction-waiting': validation.started,-->
<!--            'transaction-success': validation.finished && validation.value,-->
<!--            'transaction-error': validation.finished && !validation.value-->
<!--            }"-->
<!--          class="pt-2"> {{ validation.alert }} </strong>-->

<!--  <button *ngIf="shopItem && shopItem.tries > 0" class="btn btn-success mt-3" (click)="downloadItem()">Download</button>-->
<!--  <small *ngIf="shopItem && shopItem.tries > 0">The download link is valid 2 times and until {{ downloadExpiry | date: 'medium' }}</small>-->
<!--</section>-->
