@import "src/theme/product-item";

figure {
  margin: unset;
}

.w-40 {
  width: 40%;
}

.shop {
  grid-area: images;
  height: 70rem;
  max-height: calc(100vh - 11rem);
  @media only screen and (max-width: 1450px) {
    height: 60rem;
  }
  @media only screen and (max-width: 1200px) {
    height: 50rem;
  }
  @media only screen and (max-width: 1030px) {
    justify-self: unset;
  }
  @media only screen and (max-width: 680px) {
    height: max-content;
  }
  justify-self: end;
  &-container {
    display: grid;
    grid-template-areas:
      '. images details .'
      '. description description .';
    grid-gap: 4rem;
    padding-top: 2rem;
    padding-bottom: 10rem;
    @media only screen and (max-width: 1030px) {
      justify-items: center;
      grid-template-areas:
        '. images .'
        '. details .'
        '. description .';
    }
    @media only screen and (max-width: 680px) {
      justify-items: center;
      grid-template-areas:
        'images'
        'details'
        'description';
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  &-details {
    grid-area: details;
    width: 30rem;
    @media only screen and (max-width: 1300px) {
      width: 20rem;
    }
    @media only screen and (max-width: 1030px) {
      width: 80%;
    }
  }

  &-description {
    grid-area: description;
    justify-self: center;
    text-align: center;
    line-height: 1.8;
  }

  &-image {
    &-wrapper {
      width: max-content;
      height: calc(100% - 8rem);
      @media only screen and (max-width: 680px) {
        width: calc(100% - 10%);
        height: max-content;
      }
    }
    &-list {
      height: 8rem;
      position: relative;
      margin-top: 1rem;
      overflow-x: auto;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        height: 7px;
        &-track {
          background: #bcbcbc;
        }
        &-thumb {
          background: gray;

          &:hover {
            background: darken(gray, 5%);
          }

          &:active {
            background: darken(gray, 5%);
          }
        }
      }
      &-item {
        height: inherit;
        cursor: pointer;
        margin-right: 1rem;
        transition: filter .2s ease-in-out;
        &:hover {
          filter: brightness(50%);
        }
      }
    }
    &-before {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.transaction {
  &-success {
    color: green;
  }

  &-error {
    color: var(--color-danger);
  }

  &-waiting {
    color: #6ccfff;
  }
}

.sale-price {
  text-decoration: line-through;
}

.payment-section {
  margin-top: 10rem;
}

.before-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  //@media only screen and (max-width: 680px) {
  //  height: auto;
  //  width: 100%;
  //}
  &-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 0;
    width: calc(50% - calc(.25rem - 2px));
    height: 100%;

    overflow: hidden;
  }

  &-drag {
    position: absolute;
    top: 0;
    left: calc(50% - calc(.25rem - 2px));
    bottom: 0;
    background: white;
    width: .25rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    cursor: ew-resize;

    &:before {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      top: calc(50% - 1.5rem);
      left: calc(50% - 1.5rem);
      width: 3rem;
      height: 3rem;
      border: 4px solid white;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    }
  }
}

.after-image {
  height: 100%;
  @media only screen and (max-width: 680px) {
    height: auto;
    width: 100%;
  }
}
