<app-nav class="absolute"></app-nav>

<div class="product-container d-flex justify-content-center align-items-center">
  <ngb-carousel #carousel class="w-100 product-carousel">
    <ng-container *ngFor="let imageUrl of product.images">
      <ng-template ngbSlide>
        <div class="carousel-caption">
          <p class="product-scroll">Scroll down</p>
        </div>
        <div class="picsum-img-wrapper position-relative">
          <div #beforeImg class="before-image-wrapper product-content">
            <img [src]="imageUrl.image_before" class="before-image" [alt]="product.title + ' before'">
          </div>
          <div
            draggable="true"
            class="before-image-drag"
            (dragstart)="dragging = true"
            (dragend)="dragging = false"
            (drag)="onDrag($event)">
          </div>
          <img class="product-content" [src]="imageUrl.image_after" [alt]="product.title + ' after'">
        </div>
      </ng-template>
    </ng-container>
  </ngb-carousel>
</div>


<!--<header class="d-flex justify-content-center align-items-center">-->
<!--  <strong class="product-details big">{{ product.title | uppercase }}</strong>-->
<!--</header>-->

<!--<section class="mt-5">-->
<!--  <div class="d-flex flex-column justify-content-center align-items-center">-->
<!--    <span *ngIf="product.sale" class="sale-price">{{ product.base_price }}€</span>-->
<!--    <strong class="product-details big mt-2">{{ product.current_price }}€</strong>-->
<!--  </div>-->
<!--</section>-->

<!--<section *ngIf="parent === 'shop'" class="d-flex flex-column justify-content-center align-items-center mt-5 mb-n3">-->
<!--  <ngx-paypal [config]="payPalConfig"></ngx-paypal>-->
<!--  <strong *ngIf="validation.started || validation.finished"-->
<!--          [ngClass]="{-->
<!--            'transaction-waiting': validation.started,-->
<!--            'transaction-success': validation.finished && validation.value,-->
<!--            'transaction-error': validation.finished && !validation.value-->
<!--            }"-->
<!--          class="pt-2"> {{ validation.alert }} </strong>-->

<!--  <button *ngIf="shopItem && shopItem.tries > 0" class="btn btn-success mt-3" (click)="downloadItem()">Download</button>-->
<!--  <small *ngIf="shopItem && shopItem.tries > 0">The download link is valid 2 times and until {{ downloadExpiry | date: 'medium' }}</small>-->
<!--</section>-->
