<app-nav></app-nav>

<!--<header class="d-flex justify-content-center align-items-center">-->
<!--  <strong class="product-details big">{{ product.title | uppercase }}</strong>-->
<!--</header>-->

<!--<section class="mt-5">-->
<!--  <div class="d-flex flex-column justify-content-center align-items-center">-->
<!--    <span *ngIf="product.sale" class="sale-price">{{ product.base_price }}€</span>-->
<!--    <strong class="product-details big mt-2">{{ product.current_price }}€</strong>-->
<!--  </div>-->
<!--</section>-->

<!--<section *ngIf="parent === 'shop'" class="d-flex flex-column justify-content-center align-items-center mt-5 mb-n3">-->
<!--  <ngx-paypal [config]="payPalConfig"></ngx-paypal>-->
<!--  <strong *ngIf="validation.started || validation.finished"-->
<!--          [ngClass]="{-->
<!--            'transaction-waiting': validation.started,-->
<!--            'transaction-success': validation.finished && validation.value,-->
<!--            'transaction-error': validation.finished && !validation.value-->
<!--            }"-->
<!--          class="pt-2"> {{ validation.alert }} </strong>-->

<!--  <button *ngIf="shopItem && shopItem.tries > 0" class="btn btn-success mt-3" (click)="downloadItem()">Download</button>-->
<!--  <small *ngIf="shopItem && shopItem.tries > 0">The download link is valid 2 times and until {{ downloadExpiry | date: 'medium' }}</small>-->
<!--</section>-->
