.portfolio {
  background-color: black;
  height: max-content;
  &-grid {
    display: grid;
    width: calc(100% - 1px);
    grid-template-columns: repeat(3, minmax(20rem, 100%));
    grid-auto-columns: minmax(20rem, 35rem);
    @media only screen and (max-width: 992px) {
      grid-template-columns: repeat(2, minmax(20rem, 100%));
    }
    @media only screen and (max-width: 660px) {
      grid-template-columns: 1fr;
    }
  }
  &-item {
    position: relative;
    margin: 0 -1px;
    margin-bottom: -.5px;
    cursor: pointer;
    &:hover {
      .portfolio-img {
        opacity: .4;
      }
      .portfolio-img-title {
        opacity: 1;
      }
    }
  }
  &-img {
    width: 100%;
    transition: .5s opacity ease;
    &-title {
      position: absolute;
      z-index: 3;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      font-weight: bold;
      color: white;
      transition: .5s opacity ease;
    }
  }
}
