<div class="admin-container h-100">
  <mat-toolbar>
    <h3 class="mr-5">Administration Panel</h3>
    <button #portfolioLink="routerLinkActive" routerLinkActive class="mr-4" mat-raised-button
            [color]="portfolioLink.isActive ? 'primary' : 'accent'"
            [routerLinkActiveOptions]="{exact: true}"
            routerLink="/admin/portfolio">Portfolio
    </button>
    <button #shopLink="routerLinkActive" routerLinkActive mat-raised-button
            [color]="shopLink.isActive ? 'primary' : 'accent'"
            [routerLinkActiveOptions]="{exact: true}"
            routerLink="/admin/shop">Shop
    </button>
  </mat-toolbar>

  <div class="m-5">
    <ng-container *ngTemplateOutlet="createT"></ng-container>

  </div>
</div>

<ng-template #createT>
  <form #createForm="ngForm">
    <div class="admin-create mb-3">
      <h4>Create {{ type }} item</h4>
      <mat-divider></mat-divider>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="form-row">
          <div style="width: 18rem" class="form-group mr-2">
            <strong class="mb-4 {{ createForm.valid ? 'auth-success' : 'auth-error' }}" *ngIf="createForm.submitted">
              {{ createForm.valid ? 'Operation successful' : 'An error occurred' }}</strong>
            <label class="sr-only" for="title"></label>
            <input ngModel required type="text" class="form-control mr-2" name="title" id="title"
                   aria-describedby="title" placeholder="Title">
          </div>

          <div style="width: 11.5rem" class="form-group">
            <label class="sr-only" for="client"></label>
            <input ngModel required type="text" class="form-control" name="client" id="client"
                   aria-describedby="client" placeholder="Client">
          </div>

          <div style="width: 6rem" class="form-group ml-2">
            <label class="sr-only" for="year"></label>
            <input ngModel required type="number" min="1900" class="form-control" name="year" id="year"
                   placeholder="Year">
          </div>
        </div>

        <div style="width: 36.5rem" class="ml-n1 form-group">
          <label class="sr-only" for="description"></label>
          <textarea ngModel required rows="3" class="form-control" name="description" id="description"
                    placeholder="Description"></textarea>
        </div>
      </div>

      <div class="form-group ml-3 mt-n2">
        <label style="color: white" for="type">Type</label>
        <select [(ngModel)]="fileType" required class="custom-select mb-2" id="type" name="type">
          <option value="image">Image</option>
          <option value="video">Video</option>
        </select>

        <label style="color: white" class="my-1" for="category">Category</label>
        <select ngModel required class="custom-select" id="category" name="category">
          <option value="1">Image</option>
          <option value="2">Video</option>
        </select>
      </div>

      <div style="width: 20rem" class="form-group ml-3">
        <ng-container *ngTemplateOutlet="fileAdder; context: {mode: 'preview'}"></ng-container>
      </div>

      <div style="width: 20rem" class="form-group ml-3">
        <ng-container *ngTemplateOutlet="fileAdder; context: {mode: 'content'}"></ng-container>
      </div>
    </div>

    <div class="btn-group">
      <button class="my-1" type="submit" mat-raised-button color="primary" (click)="onCreate(createForm)">
        Create
      </button>
      <button class="ml-1 my-1" type="reset" mat-button color="warn">
        Reset
      </button>
    </div>
  </form>
</ng-template>

<ng-template #fileAdder let-mode="mode">
  <ng-container *ngIf="fileType === 'image' || mode === 'preview'">
    <div style="color: white" class="custom-file">
      <input [accept]="this[type + 'Config'].image.accept" class="custom-file-input" (change)="addFile($event, mode)"
             required
             ngModel
             type="file"
             [name]="type + mode + 'image'"
             [id]="type + mode + 'image'">
      <label class="custom-file-label" [for]="type + mode + 'image'">Choose {{ mode + ' image' }}</label>
    </div>
  </ng-container>

  <ng-container *ngIf="fileType === 'video' && mode !== 'preview'">
    <div class="d-inline-flex">
      <input #videoInput placeholder="Insert video url" class="form-control video-input" required ngModel type="url"
             [id]="type + 'contentvideo'" [name]="type + 'contentvideo'">
      <button type="button" class="btn btn-secondary add-video" (click)="addFile(videoInput, 'content')">Add</button>
    </div>
  </ng-container>

  <div class="d-inline-flex flex-column">
    <ng-container *ngFor="let file of this[mode + 'Store'].store">
      <div class="d-inline-flex">
        <div class="file-name">{{ file.name }}</div>
        <div class="d-flex justify-content-center align-items-center file-delete ml-2 mt-1"
             (click)="removeFile(file.name, mode)">x
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
