<div class="admin-container">
  <mat-toolbar>
    <h3 class="mr-5">Admin Panel</h3>
    <button #portfolioLink="routerLinkActive" routerLinkActive class="mr-4" mat-raised-button
            [color]="portfolioLink.isActive ? 'primary' : 'accent'"
            [routerLinkActiveOptions]="{exact: true}"
            routerLink="/admin/portfolio">Portfolio
    </button>
    <button #shopLink="routerLinkActive" routerLinkActive mat-raised-button
            [color]="shopLink.isActive ? 'primary' : 'accent'"
            [routerLinkActiveOptions]="{exact: true}"
            routerLink="/admin/shop">Shop
    </button>
    <div class="ml-auto mr-3">
      <button mat-button color="accent" (click)="logout()">Log Out</button>
    </div>
  </mat-toolbar>

  <div class="mx-5 py-5">
    <ng-container *ngTemplateOutlet="createT"></ng-container>

    <div class="admin-create mb-3 mt-5">
      <h4>Übersicht</h4>
      <mat-divider></mat-divider>
    </div>

    <mat-form-field style="width: 20rem; color: white" class="ml-3">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <!--order of the columns is determined in displayedColumns in the ts file-->
      <table class="w-100" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td style="width: 5rem" mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Titel</th>
          <td style="width: 15%" mat-cell *matCellDef="let row"> {{row.title}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell class="description-wrap" *matHeaderCellDef mat-sort-header> Beschreibung</th>
          <td mat-cell class="description-wrap"
              *matCellDef="let row">
            <div> {{row.description}} </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Art</th>
          <td mat-cell *matCellDef="let row"> {{translate(row.type)}} </td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Jahr</th>
          <td mat-cell *matCellDef="let row"> {{row.year}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kategorie</th>
          <td mat-cell *matCellDef="let row">{{ translate(row.category)}}</td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Klient</th>
          <td mat-cell *matCellDef="let row"> {{row.client}} </td>
        </ng-container>

        <ng-container matColumnDef="base_price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Standard-Preis</th>
          <td mat-cell *matCellDef="let row"> {{row.base_price}}€</td>
        </ng-container>

        <ng-container matColumnDef="current_price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Aktueller Preis</th>
          <td mat-cell *matCellDef="let row"> {{row.current_price}}€</td>
        </ng-container>

        <ng-container matColumnDef="sale">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sale (in %)</th>
          <td mat-cell *matCellDef="let row"> {{row.sale}}%</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10rem"></th>
          <td mat-cell *matCellDef="let row">
            <button mat-button color="accent" (click)="openEdit(row)">Edit</button>
            <button mat-button color="warn" (click)="delete(row)">Delete</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="preview">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Preview</th>
          <td mat-cell *matCellDef="let row"> {{row.preview?.uri}} </td>
        </ng-container>

        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Content</th>
          <td mat-cell *matCellDef="let row">
            <!--supressed because there is an uri property received from the backend-->
            <!--suppress TypeScriptUnresolvedVariable -->
            <ng-container *ngFor="let item of row.content">
              {{ item.uri }}
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

  </div>
</div>

<ng-template #createT>
  <form #createForm="ngForm">
    <div class="admin-create mb-3">
      <h4>{{ type === 'portfolio' ? 'Erstelle ein Portfolioprojekt' : 'Erstelle ein Shopprojekt' }}</h4>
      <mat-divider></mat-divider>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="form-row">
          <div [style.width.rem]="type === 'shop' ? 27 : 18" class="form-group mr-2">
            <label class="sr-only" for="title"></label>
            <input ngModel required type="text" class="form-control mr-2" name="title" id="title"
                   aria-describedby="title" placeholder="Titel">
          </div>

          <div [style.width.rem]="type === 'shop' ? 9 : 11.5" class="form-group">
            <ng-container *ngIf="type === 'portfolio'">
              <label class="sr-only" for="client"></label>
              <input ngModel required type="text" class="form-control" name="client" id="client"
                     aria-describedby="client" placeholder="Klient">
            </ng-container>

            <ng-container *ngIf="type === 'shop'">
              <div class="input-group">
                <label class="sr-only" for="base_price"></label>
                <input ngModel required type="number" class="form-control price-suffix" name="base_price"
                       id="base_price"
                       aria-describedby="base_price" placeholder="Preis">
                <div class="input-group-append">
                  <span class="input-group-text">€</span>
                </div>
              </div>
            </ng-container>
          </div>

          <div style="width: 6rem" class="form-group ml-2" *ngIf="type === 'portfolio'">
            <label class="sr-only" for="year"></label>
            <input ngModel required type="number" min="1900" class="form-control" name="year" id="year"
                   placeholder="Jahr">
          </div>
        </div>

        <div style="width: 36.5rem" class="ml-n1 form-group">
          <label class="sr-only" for="description"></label>
          <textarea ngModel required rows="3" class="form-control" name="description" id="description"
                    placeholder="Beschreibung"></textarea>
        </div>
      </div>

      <div style="width: 13rem" class="form-group ml-3 mt-n2" *ngIf="type === 'portfolio'">
        <ng-container *ngIf="type === 'portfolio'">
          <label style="color: white" for="type">Art</label>
          <select [(ngModel)]="fileType" required class="custom-select mb-2" id="type" name="type">
            <option value="image">Bild</option>
            <option value="video">Video</option>
          </select>
        </ng-container>

        <ng-container *ngIf="fileType">
          <label style="color: white" class="my-1" for="category">Kategorie</label>
          <select ngModel required class="custom-select" id="category" name="category">
            <ng-container *ngIf="fileType === 'image'">
              <option value="landscape">Landschaftsphotographie</option>
              <option value="portrait">Portrait</option>
              <option value="architecture">Architektur</option>
            </ng-container>

            <ng-container *ngIf="fileType === 'video'">
              <option value="musicvideo">Musikvideo</option>
              <option value="aftermovie">Aftermovie</option>
              <option value="shortmovie">Kurzfilm</option>
              <option value="imagevideo">Imagevideo</option>
            </ng-container>
          </select>
        </ng-container>
      </div>

      <div style="width: 20rem" class="form-group ml-3">
        <ng-container *ngTemplateOutlet="fileAdder; context: {mode: 'preview'}"></ng-container>
      </div>

      <div style="width: 20rem" class="form-group ml-3">
        <ng-container *ngTemplateOutlet="fileAdder; context: {mode: 'content'}"></ng-container>
      </div>
    </div>

    <button class="my-1" type="submit" mat-raised-button color="primary" (click)="onCreate(createForm)">
      Create
    </button>
    <strong class="mb-4 {{ createForm.valid ? 'auth-success' : 'auth-error' }}" *ngIf="createForm.submitted">
      {{ createForm.valid ? 'Operation successful' : 'The form is invalid' }}</strong>
  </form>
</ng-template>

<ng-template #fileAdder let-mode="mode">
  <ng-container *ngIf="fileType === 'image' || mode === 'preview' || type === 'shop'">
    <div style="color: white" class="custom-file">
      <input [disabled]="mode === 'preview' ? !!this[mode  + 'Store'].store.length : false"
             [accept]="this[type + 'Config'].image.accept"
             class="custom-file-input" (change)="addFile($event, mode)"
             required
             ngModel
             type="file"
             [name]="type + mode + 'image'"
             [id]="type + mode + 'image'">
      <label class="custom-file-label" [for]="type + mode + 'image'">{{ translate(mode + '_image') }} hochladen</label>
    </div>
  </ng-container>

  <ng-container *ngIf="fileType === 'video' && mode !== 'preview'">
    <div class="d-inline-flex">
      <input [disabled]="!!contentStore.store.length" #videoInput placeholder="Video hochladen"
             class="form-control video-input" required ngModel type="url"
             [id]="type + 'contentvideo'" [name]="type + 'contentvideo'">
      <button type="button" class="btn btn-secondary add-video" (click)="addFile(videoInput, 'content')">Add</button>
    </div>
  </ng-container>

  <div class="d-inline-flex flex-column">
    <ng-container *ngFor="let file of this[mode + 'Store'].store">
      <div class="d-inline-flex">
        <div class="file-name">{{ file.name }}</div>
        <div class="d-flex justify-content-center align-items-center file-delete ml-2 mt-1"
             (click)="removeFile(file.name, mode)">x
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>


<div *ngIf="editMode" class="edit-form-container">
  <div class="edit-form-content" [style.width.rem]="type === 'shop' ? 42 : 55">
    <form #editForm="ngForm">
      <div class="form-row">
        <div class="form-group">
          <div class="form-row">
            <div style="width: 18rem" class="form-group mr-2">
              <label class="sr-only" for="titleEdit"></label>
              <input ngModel required type="text" class="form-control mr-2" name="title" id="titleEdit"
                     aria-describedby="title" placeholder="Titel">
            </div>

            <div [style.width.rem]="type === 'shop' ? 10 : 11.5" class="form-group">
              <ng-container *ngIf="type === 'portfolio'">
                <label class="sr-only" for="clientEdit"></label>
                <input ngModel required type="text" class="form-control" name="client" id="clientEdit"
                       aria-describedby="client" placeholder="Klient">
              </ng-container>

              <ng-container *ngIf="type === 'shop'">
                <div class="input-group">
                  <label class="sr-only" for="base_priceEdit"></label>
                  <input ngModel required type="number" class="form-control" name="base_price" id="base_priceEdit"
                         aria-describedby="base_price" placeholder="Standard-Preis">
                  <div class="input-group-append">
                    <span class="input-group-text">€</span>
                  </div>
                </div>
              </ng-container>
            </div>

            <div [style.width.rem]="type === 'shop' ? 7.5 : 6" class="form-group ml-2">
              <ng-container *ngIf="type === 'portfolio'">
                <label class="sr-only" for="yearEdit"></label>
                <input ngModel required type="number" min="1900" class="form-control" name="year" id="yearEdit"
                       placeholder="Jahr">
              </ng-container>

              <ng-container *ngIf="type === 'shop'">
                <div class="input-group">
                  <label class="sr-only" for="saleEdit"></label>
                  <input ngModel required type="number" class="form-control" name="sale" id="saleEdit"
                         aria-describedby="sale" placeholder="Sale">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div style="width: 36.5rem" class="ml-n1 form-group">
            <label class="sr-only" for="descriptionEdit"></label>
            <textarea ngModel required rows="3" class="form-control" name="description" id="descriptionEdit"
                      placeholder="Beschreibung"></textarea>
          </div>
        </div>

        <div style="width: 13rem" class="form-group ml-3 mt-n2" *ngIf="type === 'portfolio'">
          <label style="color: white" for="typeEdit">Art</label>
          <select disabled ngModel class="custom-select mb-2" id="typeEdit" name="type">
            <option value="image">Bild</option>
            <option value="video">Video</option>
          </select>

          <ng-container *ngIf="type === 'portfolio'">
            <label style="color: white" class="my-1" for="categoryEdit">Kategorie</label>
            <select ngModel required class="custom-select" id="categoryEdit" name="category">
              <ng-container *ngIf="editing.type === 'image'">
                <option value="landscape">Landschaftsphotographie</option>
                <option value="portrait">Portrait</option>
                <option value="architecture">Architektur</option>
              </ng-container>

              <ng-container *ngIf="editing.type === 'video'">
                <option value="musicvideo">Musikvideo</option>
                <option value="aftermovie">Aftermovie</option>
                <option value="shortmovie">Kurzfilm</option>
                <option value="imagevideo">Imagevideo</option>
              </ng-container>
            </select>
          </ng-container>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" mat-raised-button color="primary" (click)="confirmEdit()">
          Confirm
        </button>
        <button type="button" mat-button color="warn" (click)="editMode = false">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
