.nav-link {
  width: 5rem;
  letter-spacing: 2px;
  cursor: pointer;
  &:hover {
    color: gray;
  }
  @media only screen and (max-width: 767px) {
      width: auto;
  }
}

.logo {
  letter-spacing: 5px;
  font-size: 2.5rem;
  cursor: pointer;
  text-align: center;
}
