<app-nav></app-nav>
<app-product-filter *ngIf="parent === 'portfolio' && filters" [parent]="parent" [productFilters]="filters"></app-product-filter>

<main class="portfolio">
  <article class="portfolio-grid mt-5">
    <ng-container *ngFor="let item of portfolioItems">
      <figure (click)="toDetails(item)" class="portfolio-item">
        <div class="portfolio-img-sale" *ngIf="item.sale">-{{ item.sale }}%</div>
        <figcaption class="portfolio-img-title w-100">
          <div>{{ item.title | uppercase }}</div>
            <div class="portfolio-img-price d-flex justify-content-center position-relative">
              <ng-container *ngIf="parent === 'shop'">
                <span class="w-25 position-relative">
                  <span class="portfolio-img-base" *ngIf="item.sale">{{ item.base_price }}€</span>
                  {{ item.current_price}}€
                  </span>
              </ng-container>
            </div>
        </figcaption>

        <img class="portfolio-img" [src]="item.preview.uri"
             [alt]="item.preview.alt">
      </figure>
    </ng-container>
  </article>
</main>
