<app-nav></app-nav>
<app-product-filter [parent]="parent"></app-product-filter>

<main class="portfolio">
  <article class="portfolio-grid mt-5">
    <ng-container *ngFor="let item of portfolioItems">
      <figure (click)="toDetails(item)" class="portfolio-item">
        <figcaption class="portfolio-img-title">{{ item.title }}</figcaption>
        <!--suppress RequiredAttributes -->
        <!--suppressed because appImg directive provides the src attribute-->
        <img class="portfolio-img" [appImg]="item.preview.uri"
             [alt]="item.preview.alt">
      </figure>
    </ng-container>
  </article>
</main>
