<app-nav></app-nav>
<article class="d-flex flex-column justify-content-center w-75 container mb-5">
  <header class="data-protection pb-0">
    <h2>Datenschutzerklärung</h2>
  </header>
  <section class="my-1">
    <h4 class="data-protection pt-1">Datenschutz</h4>
    <p>Wir haben diese Datenschutzerklärung (Fassung 14.03.2020-321161919) verfasst, um Ihnen gemäß der Vorgaben der
      <a target="_blank" href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&tid=321161919">
        Datenschutz-Grundverordnung (EU) 2016/679</a> zu erklären, welche Informationen wir sammeln, wie wir Daten
      verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.</p>
    <p>Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der
      Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.
    </p>
  </section>
  <section class="my-1">
    <h4 class="data-protection pt-1">Eingebettete Social Media Elemente Datenschutzerklärung
    </h4>
    <p>Wir binden auf unserer Webseite Elemente von Social Media Diensten ein um Bilder, Videos und Texte anzuzeigen.
    </p>
    <p>Durch den Besuch von Seiten die diese Elemente darstellen, werden Daten von Ihrem Browser zum jeweiligen Social
      Media Dienst übertragen und dort gespeichert. Wir haben keinen Zugriff auf diese Daten.
    </p>
    <p>Die folgenden Links führen Sie zu den Seiten der jeweiligen Social Media Dienste wo erklärt wird, wie diese mit
      Ihren Daten umgehen:</p>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <a target="_blank" class="py-1"
         href="https://help.instagram.com/519522125107875">Instagram-Datenschutzrichtlinie</a>
      <div class="py-1">
        Für YouTube gilt die
        <a target="_blank" href="https://policies.google.com/privacy?hl=de">Google Datenschutzerklärung</a>
      </div>
      <a target="_blank" class="py-1" href="https://www.facebook.com/about/privacy">Facebook-Datenrichtline</a>
      <a target="_blank" class="py-1" href="https://twitter.com/de/privacy">Twitter Datenschutzrichtlinie</a>
    </div>
  </section>
  <section class="my-1">
    <h4 class="data-protection pt-1">YouTube Datenschutzerklärung</h4>
    <p>Wir haben auf unserer Webseite YouTube-Videos eingebaut. So können wir Ihnen interessante Videos direkt auf
      unserer Seite präsentieren. YouTube ist ein Videoportal, das seit 2006 eine Tochterfirma von Google LLC ist.
      Betrieben wird das Videoportal durch YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA. Wenn Sie auf unserer
      Webseite eine Seite aufrufen, die ein YouTube-Video eingebettet hat, verbindet sich Ihr Browser automatisch mit
      den Servern von YouTube bzw. Google. Dabei werden (je nach Einstellungen) verschiedene Daten übertragen. Für die
      gesamte Datenverarbeitung ist Google verantwortlich und es gilt somit auch der Datenschutz von Google.
    </p>
    <p>Im Folgenden wollen wir Ihnen genauer erklären, welche Daten verarbeitet werden, warum wir YouTube-Videos
      eingebunden haben und wie Sie Ihre Daten verwalten oder löschen können.
    </p>
  </section>
  <section class="my-1">
    <h4 class="data-protection pt-1">Was ist YouTube?</h4>
    <p>Auf YouTube können die User kostenlos Videos ansehen, bewerten, kommentieren und selbst hochladen. Über die
      letzten Jahre wurde YouTube zu einem der wichtigsten Social-Media-Kanäle weltweit. Damit wir Videos auf unserer
      Webseite anzeigen können, stellt YouTube einen Codeausschnitt zur Verfügung, den wir auf unserer Seite eingebaut
      haben.
    </p>
  </section>
  <section class="my-1">
    <h4 class="data-protection pt-1">Warum verwenden wir YouTube-Videos auf unserer Webseite?
    </h4>
    <p>YouTube ist die Videoplattform mit den meisten Besuchern und dem besten Content. Wir sind bemüht, Ihnen die
      bestmögliche User-Erfahrung auf unserer Webseite zu bieten. Und natürlich dürfen interessante Videos dabei nicht
      fehlen. Mithilfe unserer eingebetteten Videos stellen wir Ihnen neben unseren Texten und Bildern weiteren
      hilfreichen Content zur Verfügung. Zudem wird unsere Webseite auf der Google-Suchmaschine durch die eingebetteten
      Videos leichter gefunden. Auch wenn wir über Google Ads Werbeanzeigen schalten, kann Google – dank der gesammelten
      Daten – diese Anzeigen wirklich nur Menschen zeigen, die sich für unsere Angebote interessieren.
    </p>
  </section>
</article>
