<app-nav></app-nav>
<app-product-filter [parent]="'shop'" *ngIf="filters" [productFilters]="filters">
</app-product-filter>

<main class="portfolio">
  <article class="portfolio-grid mt-5" *ngIf="shopItems">
    <ng-container *ngFor="let item of shopItems">
      <figure (click)="toDetails(item)" class="portfolio-item">
        <div class="portfolio-img-sale" *ngIf="item.price.sale">-{{ item.price.sale }}%</div>
        <figcaption class="portfolio-img-title w-100">
          <div>{{ item.title | uppercase }}</div>
          <div class="portfolio-img-price d-flex justify-content-center position-relative">
                <span class="w-25 position-relative">
                  <span class="portfolio-img-base" *ngIf="item.price.sale">
                    {{ item.price.base_price | currency: item.price.currency}}
                  </span>
                  {{ item.price.current_price | currency: item.price.currency}}
                </span>
          </div>
        </figcaption>

        <img class="portfolio-img" [src]="item.thumbnail"
             [alt]="item.title">
      </figure>
    </ng-container>
  </article>
</main>
