@import "./theme/variables";
@import "~bootstrap/dist/css/bootstrap.css";

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
  font-size: 1rem;
  margin: 0;
}

body {
  margin: 0;
}

.hover-animation {
  transition: color .15s ease-in-out, background-color .15s ease-in-out,
  border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

// image carousel styles
.carousel-control {
  &-next,
  &-prev,
  &-indicators {
    cursor: pointer;
    z-index: 20;
    width: 10%;
  }
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in-out, visibility .4s;
  z-index: -1;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//better scrollbar
::-webkit-scrollbar {
  width: .5%;

  &-thumb {
    border-radius: 10px;
    background: gray;

    &:hover {
      background: darken(gray, 5%);
    }

    &:active {
      background: darken(gray, 5%);
    }
  }
}
