<mat-toolbar>
  <h3 class="mr-5">Admin Panel</h3>
  <button #portfolioLink="routerLinkActive" routerLinkActive class="mr-4" mat-raised-button
          [color]="portfolioLink.isActive ? 'primary' : 'accent'"
          [routerLinkActiveOptions]="{exact: true}"
          routerLink="/admin/portfolio">Portfolio
  </button>
  <button #shopLink="routerLinkActive" routerLinkActive mat-raised-button
          [color]="shopLink.isActive ? 'primary' : 'accent'"
          [routerLinkActiveOptions]="{exact: true}"
          routerLink="/admin/shop">Shop
  </button>
  <button class="ml-4" #ordersLink="routerLinkActive" routerLinkActive mat-raised-button
          [color]="ordersLink.isActive ? 'primary' : 'accent'"
          [routerLinkActiveOptions]="{exact: true}"
          routerLink="/admin/orders">Orders
  </button>
  <div class="ml-auto mr-3">
    <button mat-button color="accent" (click)="logout()">Log Out</button>
  </div>
</mat-toolbar>
