<main class="main-home d-flex flex-column justify-content-between">
  <app-nav></app-nav>
  <div class="d-flex social mb-5 justify-content-center">
    <ng-container *ngFor="let social of socialLinks">
      <ng-container *ngTemplateOutlet="socialT; context:{$implicit: social}"></ng-container>
    </ng-container>
  </div>
</main>

<ng-template #socialT let-social>
  <a target="_blank" class="social-link" [href]="social.ref" (mouseout)="hover(social.name, 'out')"
     (mouseover)="hover(social.name, 'over')">
    <img class="social-icon" [src]="'assets/images/' + social.src" [alt]="social.name">
  </a>
</ng-template>
