<main class="main-home d-flex flex-column justify-content-between">
  <app-nav [lighten]="true"></app-nav>
  <div class="d-flex front-social mb-5 justify-content-center">
    <ng-container *ngFor="let social of socialLinks">
      <ng-container *ngTemplateOutlet="socialT; context:{$implicit: social}"></ng-container>
    </ng-container>
  </div>
  <div class="front-video-container d-flex justify-content-center align-items-center">
    <video #video autoplay muted loop id="front-video">
      <source *ngIf="isMobile()" src="assets/videos/showreel-mobile.mp4"
              type="video/mp4">
      <source *ngIf="!isMobile()" src="assets/videos/showreel-desk.mp4"
              type="video/mp4">
    </video>
  </div>
</main>

<ng-template #socialT let-social>
  <a target="_blank" class="social-link" [href]="social.ref" (mouseout)="hover(social.name, 'out')"
     (mouseover)="hover(social.name, 'over')">
    <img class="social-icon" [src]="'assets/images/' + social.src" [alt]="social.name">
  </a>
</ng-template>
