.main-home {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("src/assets/images/baby-yoda.jpg");
  background-position: center;
  color: white;
}

.social {
  height: 2rem;
  width: 100%;
  &-link {
    height: 2rem;
    margin: .5rem 1.5rem;
  }
  &-icon {
    height: inherit;
  }
}
